Package: nlohmann-json
Version: 3.11.3
Port-Version: 1
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: cb6853caa81b8450a6b98492ae21fa816e1943e76f770ca6dc1a447aa6f50e32
Description: JSON for Modern C++
